/* 棣栭〉鐒︾偣鍥�*/
#indexBanner { margin-bottom: 20px; }
.slideBox { width: 1000px; height: 344px; margin: 0 auto; overflow: hidden; position: relative; }
.slideBox .hd { height: 18px; overflow: hidden; position: absolute; left: 50%; bottom: 8px; z-index: 1; }
.slideBox .hd ul { overflow: hidden; zoom: 1; float: left; }
.slideBox .hd ul li { float: left; margin-right: 6px; width: 14px; height: 14px; line-height: 14px; text-align: center; background: #fff; cursor: pointer; border-radius: 50%; border: 1px solid #fff; }
.slideBox .hd ul li.on { background: #10afd7; color: #fff; }
.slideBox .bd { position: relative; height: 100%; z-index: 0; }
.slideBox .bd li { zoom: 1; vertical-align: middle; }
.slideBox .prev, .slideBox .next { position: absolute; left: 3%; top: 50%; margin-top: -25px; display: block; width: 32px; height: 40px; background: url(../img/home/slider-arrow.png) -110px 5px no-repeat; filter: alpha(opacity=50); opacity: 0.5; }
.slideBox .next { left: auto; right: 3%; background-position: 8px 5px; }
.slideBox .prev:hover, .slideBox .next:hover { filter: alpha(opacity=100); opacity: 1; }
/* 璺ㄥ鐜悆瑙傛櫙鍙�*/
.indexCont1, .indexCont2, .indexCont3, .indexCont6 { margin-bottom: 30px; }
.indexCont1 .bd img { float: left; border: 1px solid #ccccff; }
.indexCont1 .bd ul { float: right; width: 720px; }
.indexCont1 .bd ul li { padding-left: 20px; font-size: 16px; line-height: 44px; border-bottom: 1px solid #dfdfdf; background: url(../img/home/dian.jpg) 5px center no-repeat; }
.indexCont1 .bd ul li span { float: right; font-size: 12px; color: #999; margin-right: 5px; }
/* 鏈嶅姟浜掑姩涓�偣閫�*/
.indexCont2 .bd li { float: left; width: 240px; height: 200px; background: #f9f9f9; border-right: 1px solid #fff; }
.indexCont2 .bd li.icon1 { background: #f9f9f9 url(../img/home/icon_sns1.png) no-repeat center 25px; }
.indexCont2 .bd li.icon2 { background: #f9f9f9 url(../img/home/icon_sns2.png) no-repeat center 25px; }
.indexCont2 .bd li.icon3 { background: #f9f9f9 url(../img/home/icon_sns3.png) no-repeat center 25px; }
.indexCont2 .telQR { width: 276px!important; height: 200px; }
.indexCont2 .tel { padding: 15px 0 15px 25px; }
.indexCont2 .QR { padding: 0 0 10px 25px; }
.indexCont2 .QR img { float: left; margin-right: 15px; }
.indexCont2 .QR .tit { display: block; font-size: 17px; color: #333; margin-bottom: 10px; }
.indexCont2 dl { margin-top: 80px; }
.indexCont2 dl dt { text-align: center; font-size: 20px; color: #0e9ece; margin-bottom: 10px; }
.indexCont2 .ask_ico1 { line-height: 28px; padding-left: 45px; background: url(../img/home/icon_qq.png) no-repeat 15px center; }
.indexCont2 .ask_ico2 { line-height: 28px; padding-left: 45px; background: url(../img/home/icon_email.png) no-repeat 15px center; }
.indexCont2 dl.talk { padding-left: 20px; }
.indexCont2 dl.talk a { display: inline-block; width: 49%; font-size: 14px; }
/* 鍑哄浗鏈嶅姟閫忚闀�*/
.indexCont5 { margin-bottom: 15px; }
.indexCont5 .bd { height: 200px; background: #f9f9f9; }
.indexCont5 .bd a { display: inline-block; width: 20%; height: 200px; border-left: 1px solid #fff; margin-left: -1px; margin-right:-4px; text-decoration: none; transition: .3s; }
.indexCont5 .bd a:hover p { border: 1px solid #f96; }
.indexCont5 .tj_ico1 { background: #fff url(../img/home/ind_tsj_pic1.png) no-repeat center; }
.indexCont5 .tj_ico2 { background: #fff url(../img/home/ind_tsj_pic2.png) no-repeat center; }
.indexCont5 .tj_ico3 { background: #fff url(../img/home/ind_tsj_pic3.png) no-repeat center; }
.indexCont5 .tj_ico4 { background: #fff url(../img/home/ind_tsj_pic4.png) no-repeat center; }
.indexCont5 .tj_ico5 { background: #fff url(../img/home/ind_tsj_pic5.png) no-repeat center; }
.indexCont5 .bd h3 { font-size: 16px; font-weight: normal; padding: 10px 0 10px 30px; }
.indexCont5 .bd p { width: 140px; height: 130px; margin: 0 auto; border: 1px solid #fff; transition: all .3s; }
/* 鍒嗙被甯傚満缇よ嫳浼�*/
.category { float: left; width: 750px; }
.category .title { margin-bottom: 20px; background: #f9f9f9; border-top: 2px solid #4c79b7; }
.category .title span { display: inline-block; padding: 0 20px 0 45px; color: #fff; font-size: 18px; line-height: 40px; background: #4c79b7 url(../img/home/icon_indTit3.png) no-repeat 10px center; }
.category li { float: left; width: 175px; margin-right: 15px; margin-bottom: 20px; }
.category li:nth-child(4n) { margin-right: 0px; }
.category li img { padding: 1px; border: 1px solid #fff; }
.category li a { text-decoration: none; transition: .3s; }
.category li a:hover img { border: 1px solid #f96; transition: .3s; }
.category li h4 { font-size: 18px; line-height: 32px; font-weight: normal; text-align: center; }
.category li p { color: #999; }
/* 璺ㄥ璇惧爞 */
.school { float: right; width: 230px; }
.school .title { padding-left: 40px; border: 1px solid #e5e5e5; border-top: 2px solid #4c79b7; color: #4c79b7; font-size: 18px; line-height: 40px; background: #f9f9f9 url(../img/home/icon_indTit4.png) no-repeat 10px center }
.school .title span { float: right; padding-right: 5px; font-size: 12px; }
.school-cont { height: 500px; border-left: 1px solid #e5e5e5; }
.school-cont a { display: inline-block; width: 50%; height: 25%; margin-left: -1px; margin-right:-3px;border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; text-align: center; font-size: 16px; text-decoration: none; }
.school-cont a:hover { color: #09addb; }
.school-cont i { display: block; width: 36px; height: 40px; margin: 30px auto 0; background: url(../img/home/school_icon.png) no-repeat; }
.school-cont i.icon1 { background-position: 0 0; }
.school-cont i.icon2 { background-position: 0 -50px; }
.school-cont i.icon3 { background-position: 0 -100px; }
.school-cont i.icon4 { background-position: 0 -150px; }
.school-cont i.icon5 { background-position: 0 -200px; }
.school-cont i.icon6 { background-position: 0 -250px; }
.school-cont i.icon7 { background-position: 0 -300px; }
.school-cont i.icon8 { background-position: 0 -350px; }
.school-cont a:hover i.icon1 { background-position: -50px 0; }
.school-cont a:hover i.icon2 { background-position: -50px -50px; }
.school-cont a:hover i.icon3 { background-position: -50px -100px; }
.school-cont a:hover i.icon4 { background-position: -50px -150px; }
.school-cont a:hover i.icon5 { background-position: -50px -200px; }
.school-cont a:hover i.icon6 { background-position: -50px -250px; }
.school-cont a:hover i.icon7 { background-position: -50px -300px; }
.school-cont a:hover i.icon8 { background-position: -50px -350px; }
